html{
	background-color: #213642;
	margin: 0;
	padding: 0;
}
body{
	margin-right: 70px;
	margin-left: 70px;
	padding: 0;
	height: 100vh;
	
}
.anchor{
	font-size: 20px;
	margin-right: 10px;
	font-weight: 700;
	color: rgba(71,179,215,1);
	padding: 3px;
	transition: 0.5s;
}
.header1{
	background-color: #3d6271;
	padding: 10px;
}
.anchor:hover{
	background-color: white;
}

.para{
	margin: 0; 
	padding: 0;
}
.share{
	width: 600px;
	background-color: rgb(159 170 176);
	height: 40px;
	border-radius: 4px;
}
.social{
	margin-top: 8px;
}

.anchor1{
	font-size: 15px;
	margin-right: 5px;
	border-right: 1px solid white;
	font-weight: 700;
	color: rgba(71,179,215,1);
	transition: 0.5s;
	padding-right: 4px;
	margin-bottom: 0
}
.anchor1:hover{
	background-color: white;
}